.div-radio{
    display: inline-flex;
    margin-left: 80px;
}
.div-radio label{
    padding-left: 5px;
}
#idcliente, #id, #acao, .esconder{
    visibility: hidden;
    height: 0px;
    display: flex;
}
.exibir-dialog{
    max-width: none;
    margin: 10px 10px 10px 10px;
    height: 100%;
}
.exibir{
    height: 100%;
}
.div-radio-exibir{
    
    width: 100%;
}
#exibir-div-radio-pf{
    margin-left: 26%;
    width: 30%;
} 
#exibir-div-radio-pj{
    width: 30%;
}
table{
    width: 100%;
}
body{
    width: 100%;
}
.error{
    color: red;
}